@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
    .specialization-company {
        display: block;
        padding-bottom: 120px;
    }
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .customers-list {
        gap: 24px;
    }

    .about-team>.container {
        width: 1200px;
    }

    .about-team {
        padding: 120px 0;
    }
    .team-list {
        gap: 24px;
    }

    .team-list-item {
        width: calc(( 100% - 72px ) / 4 );
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office.jpg");
        padding: 188px 0;
        /* width: 1440px; */
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office-2x.jpg");
        }
    } 

    .hero-text {
        margin-bottom: 48px;
    } 
    .specialization-container {
        display: block;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .description-company {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .about-company {
        gap: 24px;
    }
    
    .about-company-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    } 
    .about-company-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    } 
    
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .footer-container {
        max-width: unset;
        flex-direction: row;
        justify-self: center;
    } 
    
    .footer-container-logo {
        display: block;
    }
    
    .footer-container-social {
        margin-left: 120px;
        margin-right: 80px;
    }
    
    .footer-form-sub {
        flex-direction: row;
        gap: 24px;
    }
}