@media screen and (min-width: 428px) {
    .container {
            width: 428px;
        } 
        
        .mob-menu-header-social-list {
            justify-content: center;
            gap: 56px;
        } 
        .mob-menu-header-contact-link-phone {
            font-size: 36px;
        } .modal {
            width: 408px;
        }
}